@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/Roboto-Thin.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Roboto-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'QuattroCento Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/QuattrocentoSans-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'QuattroCento Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/QuattrocentoSans-Bold.ttf') format('truetype');
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply leading-[1.2] font-bold font-quattrocentosans;
  }
  h1 {
    @apply text-[64px] md:text-[80px];
  }

  h2 {
    @apply text-[28px] md:text-[64px];
  }

  h3 {
    @apply text-[28px];
  }

  h4 {
    @apply text-[20px];
  }

  h5 {
    @apply text-[16px];
  }

  p,
  a,
  ul,
  li,
  button {
    @apply leading-[1.5];
  }

  p > a {
    @apply border-b-2 border-b-primaryVariant;
  }

  input[type='radio'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    display: none;
  }

  input[type='radio'] + label {
    @apply border-[1px] border-radioBorder cursor-pointer rounded py-2 px-8 m-[1px];
  }
  input[type='radio']:checked + label {
    @apply border-2 border-primary m-0;
  }

  input,
  textarea {
    @apply border-2 border-primaryText rounded !important;
  }

  label {
    @apply font-normal;
  }
}

@layer components {
  .content-padding {
    @apply px-4 md:px-16 lg:px-24 xl:px-36;
  }

  .content-max-width {
    @apply max-w-[1920px] mx-auto;
  }

  .content-margin-top {
    @apply mt-8 md:mt-16 lg:mt-32;
  }
}
